body {

    background-color: hsl(243, 96%, 9%);
    color: hsl(0, 0%, 100%);
    font-size: 18px;
}

.container {

    width: 90%;
    margin: 0 auto;
}

header {

    padding: 16px;
}

.header {

    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 30px;
}
.header img {

    width: 120px;
}

.dropDownMenu .dropBtn {

    background-color: hsl(243, 23%, 24%);
    border: 1px solid transparent;
    color: hsl(0, 0%, 100%);
    padding: 7px 12px;
    border-radius: 4px;
    cursor: pointer;
    transition: opacity 0.15s;
    outline: none;
    
}

.dropDownMenu .dropBtn:hover {

    opacity: 0.8;
}

.dropDownMenu .dropBtn:focus {

    border: 1px solid hsl(0, 0%, 100%);
}

.dropDownMenu .content {

    background-color: hsl(243, 27%, 20%);
    position: absolute;
    right: 60px;
    top: 60px;
    border-radius: 5px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
    display: none;
    z-index: 100;
    padding: 10px 5px;
}

.dropDownMenu:hover .content{

    display: block;
}

.dropDownMenu .content h5 {

    margin: 10px;
    color: hsl(240, 6%, 70%);
}

.dropDownMenu .content a {

    display: block;
    color: white;
    text-decoration: none;
    padding: 7px 12px;
    border-radius: 4px;
}

.dropDownMenu .content a:hover {

    background-color: hsl(243, 23%, 24%);
}


.unit-icon {

    width: 18px;
    margin-right: 5px; 
}

.setting-icon {

    margin-left: 5px;
    width: 15px;
}

.weatherToday {

    text-align: center;
}

h1 {

    font-size: 50px;
}

form  {

   
    display: flex;
    justify-content: center;
    margin-bottom: 50px;

}

form .search-bar {

    position: relative;
    border: 1px solid transparent;
    outline: none;
    padding: 10px 10px 10px 35px;
    width: 500px;
    background-color: hsl(243, 27%, 20%);
    color:hsl(0, 0%, 100%);
    border-radius: 5px;
    font-weight: bold;
}

form .search-bar:hover {

    background-color: hsl(243, 23%, 24%);
}

form .search-bar:focus {

    border: 1px solid hsl(0, 0%, 100%);
}

form .search-button {

    background-color: hsl(233, 67%, 56%);
    border: 1px solid transparent;
    color:hsl(0, 0%, 100%);
    border-radius: 5px;
    padding: 10px 12px;
    margin-left: 10px;
    transition: background-color 0.15s;
    outline: none;
}

form .search-button:hover {

    background-color: hsl(248, 70%, 36%);
    cursor: pointer;
}

form .search-button:focus {

    border: 1px solid hsl(248, 70%, 36%);
}

.search-container {

    position: relative;
    display: flex; 
    align-items: center;
    

}

.search-container svg {

    position: absolute;
    left: 10px;
    width: 18px;
    z-index: 1;
}

.main-container {

    width: 97%;
}

.grid-main {


    display: grid;
    grid-template-columns: 3fr 1fr;
    gap: 20px;
    margin: 0 auto;
}

.today-container {

    background-image: url('assets/images/bg-today-large.svg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%; 
    box-sizing: border-box;
    padding: 60px 30px;
}

.icon-degree {

    display: flex;
    align-items: center;
}

.icon-degree p {

    font-size: 68px;
}

.weather-details {

    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
    margin-top: 20px;
}

.weather-details div{

    background-color: hsl(243, 27%, 20%);
    padding: 15px;
    border-radius: 10px; 
}

.weather-details div p {

    margin-top: 0;
}

.weather-details div strong {

    font-size: 28px;
    font-weight: normal;
}

.daily-forecast {

    display: grid;
    grid-template-columns: repeat(7, 1fr);
    gap: 10px;
    margin-top: 20px;

}

.daily-forecast img {

    width: 50px;
    display: block;
    margin: 10px auto;
}

.daily-forecast .day-to-day {

    background-color: hsl(243, 27%, 20%);
    padding: 8px 5px;
    border-radius: 10px;
}

.daily-forecast .day-to-day div {

    display: flex;
    justify-content: space-between;
}

.daily-forecast .day-to-day p {

    margin: 0;
    text-align: center;
}


.hourly-forecast h3 {

    margin: 0px;
    display: inline-block;
}

.flex-container {

    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 20px;
}

.hourly-forecast {

    width: 100%;
    background-color:  hsl(243, 27%, 20%);
    margin: 0;
    border-radius: 15px;
    padding: 15px;
}

.hourly-forecast button {

    background-color: hsl(243, 23%, 30%);
    border: none;
    color: #fff;
    padding: 5px 10px;
    border-radius: 4px;
    cursor: pointer;
}

.day-dropdown .days-content {

    background-color: hsl(243, 27%, 20%);
    position: absolute;
    right: 100px;
    margin: 2px 0 0 0;
    width: 10%;
    border-radius: 5px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
    display: none;
    z-index: 100;
    padding: 10px 5px
}

.day-dropdown:hover .days-content {

    display: block;
}

.day-dropdown .days-content a {

    display: block;
    text-decoration: none;
    color: hsl(0, 0%, 100%);
    padding: 7px 12px;
    border-radius: 4px;
}

.day-dropdown .days-content a:hover {

    background-color: hsl(243, 23%, 24%);
}

.hourly-time-icon {

    display: flex;
    align-items: center;
}

.hourly-time-icon img {

    width: 30px;
    padding-right: 5px;
}

.hourly-details {

    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: hsl(243, 23%, 24%);
    padding: 8px;
    border-radius: 5px;
    margin: 10px 0;
}
